<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "co.edu.unicartagena.caries"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->
  <preference name="phonegap-version" value="cli-6.5.0" />
  <name>Caries Dental</name>

  <description>
      Objeto Virtual de Aprendizaje en Prevención de Caries Dental
  </description>

  <author href="http://caries.unicartagena.edu.co" email="caries@unicartagena.edu.co">
     Universidad de Cartagena
  </author>
  <platform name="android">
      <icon src="icon.png" width="180" height="180" />
  </platform>

</widget>